    <footer>
        <div class="container">
                Copyright &copy 2019&nbsp-&nbsp<a href="https://github.com/WesGtoX" class="mylink-color" target="_blank">Wesley Mendes</a>
        </div>
    </footer>
</body>
</html>